<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about_Ryan_Hoang</title>
</head>
<body>

    <!-- First Main Heading -->
    <h1> All About <em>Ryan Hoang</em> </h1>

    <!-- Two Smaller Headings -->
    <h2> Finance & Information Systems </h2>
    <h2> Silver Spring, MD</h2>

    <!-- Paragraphs about Ryan Hoang -->
    <p> My name is <strong>Ryan Hoang</strong> and I am from <em>Silver Spring, Maryland.</em>
        My birthday is on June 24th. </p>
    <p> In my free time, I like going to the gym and playing basketball. This summer I plan on visiting <strong> Portugal.</strong> </p>

    <!-- Ryan Hoang's Ordered List of Favorite Music Artists-->

    <p> My Favorite Music Artists: </p>
    <ol>
        <li> Drake </li>
        <li> Lil Baby </li>
        <li> Gunna </li>
        <li> Lil Durk </li>
        <li> Nav </li>

    </ol>


    <!-- Ryan Hoang's Unordered List of UMD Courses-->
    <p> Electives I've taken </p>
<ul>
    <li> AOSC123 </li>
    <li> ANTH240</li>
    <li> ECON175</li>
    <li> ENES210</li>
    <li> ENGL393</li>

</ul>

<table>
    <tr>
        <th> Course </th>
        <th> Semester</th>
    </tr>

    <tr>
        <td>BMGT302</td>
        <td>Spring 2022</td>
    </tr>

    <tr>
        <td>BMGT440</td>
        <td>Spring 2022</td>
    </tr>

<tr>
        <td>BMGT404</td>
        <td>Spring 2023</td>
</tr>


</table>

<p> Here is a relative link to my Hello HTML <a href  = "hello.html"> Hello HTML Link </a> </p>

<p> Here is a link to my favorite link <a href = "https://www.nike.com/"> Nike Website </a></p>
    <p> Here is a link to my second favorite link <a href = "https://www.adidas.com/us"> Adidas Website</a> </p>

    <img alt src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width = "267" height = "72" >

</body>
</html>